body {
    font-family: 'Cairo', sans-serif;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#weather-vote {
    font-family: 'Cairo', sans-serif;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
}

h1 {
    font-family: 'Cairo', sans-serif;
    margin-bottom: 20px;
    font-size: 24px;
}

button {
    font-family: 'Cairo', sans-serif;
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

button span {
    font-weight: bold;
}